.NewPost {
  display: block;

  /* Изображение пользователя */
  &-Avatar {
    margin-right: var(--space-s);
  }

  /* Текст */
  &-Text {
    color: var(--color-text-secondary);
  }

  /* Контент */
  .Pad-Content {
    display: flex;

    padding: var(--space-xs) var(--space-s);
    align-items: center;
  }
}
