.PageNews {
  /* Новый пост */
  &-NewPost {
    margin-bottom: var(--space-s);
  }

  /* Стена */
  &-Wall {
    .WallItem {
      margin-bottom: var(--space-s);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Плейсхолдер когда нет постов */
  &-Placeholder {
    display: flex;

    height: calc(100vh - var(--height-header) - var(--height-tabs) - var(--space-s));

    text-align: center;

    align-items: center;
    justify-content: center;
  }
}
