.TemplateMain {
  --height-header: 38px;
  --height-footer: 31px;

  padding-top: var(--height-header);

  /* Шапка */
  &-Header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100vw;
    height: var(--height-header);

    color: white;
    background: black;
  }

  /* Контент шапки */
  &-HeaderContent {
    display: flex;

    padding: var(--space-xs) 0;
    align-items: center;
    justify-content: space-between;
  }

  /* Логотип */
  &-Logotype {
    font-size: var(--size-typo-l);
    font-weight: 600;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
  }

  /* Основной контент */
  &-Content {
    min-height: calc(100vh - var(--height-header) - var(--height-footer));
  }

  /* Обёртка контента */
  &-ContentWrapper {
    padding: 0;
  }

  /* Подвал */
  &-Footer {
    height: var(--height-footer);
  }

  /* Контент подвала */
  &-FooterContent {
    font-size: var(--size-typo-s);

    display: flex;

    padding: var(--space-xs) 0;
    align-items: center;
    justify-content: space-between;
  }
}

@media (min-width: 1024px) {
  .TemplateMain {
    --height-header: 44px;

    &-Logotype {
      font-size: var(--size-typo-xxl);
    }
  }
}
