.TemplateMain {
  --height-header: 40px;
  --height-tabs: 48px;

  padding: var(--height-header) 0 var(--height-tabs);

  /* Шапка */
  &-Header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    width: 100vw;
    height: var(--height-header);

    color: white;
    background: black;
  }

  /* Контент шапки */
  &-HeaderContent {
    display: flex;

    padding: var(--space-xs) 0;
    align-items: center;
    justify-content: space-between;
  }

  /* Логотип */
  &-Logotype {
    font-size: var(--size-typo-l);
    font-weight: 600;

    margin: 0;
    padding: 0;

    text-transform: uppercase;
  }

  /* Кнопка "Поддержать" */
  &-Donate {
    font-size: var(--size-typo-s);

    padding: var(--space-xxs) var(--space-s);

    color: var(--color-white);
    border-radius: 20px;
    background: green;

    &:hover {
      text-decoration: none;
    }
  }

  /* Основной контент */
  &-Content {
    min-height: calc(100vh - var(--height-header) - var(--height-tabs));
  }

  /* Вкладки */
  &-Tabs {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;

    display: flex;

    width: 100%;

    background: var(--color-white);
    box-shadow: 0 -2px 6px 2px rgba(0, 0, 0, 0.06);
    align-items: center;
  }

  /* Отдельная вкладка */
  &-Tab {
    display: flex;

    padding: var(--space-s);
    flex-grow: 1;
    justify-content: center;

    /* Активная вкладка */
    &_active {
      color: red;
    }
  }

  /* Иконка во вкладке */
  &-TabIcon {
    position: relative;

    height: 24px;
  }

  /* Счётчик во вкладке */
  &-TabCounter {
    font-size: var(--size-typo-m);
    font-weight: 500;

    position: absolute;
    top: 0;
    left: 16px;

    height: 18px;
    padding: 0 var(--space-xxs);

    color: var(--color-white);
    border-radius: 10px;

    background: red;
  }
}
