.ModalAddYouTubeVideo {
  /* Контент */
  &-Content {
    padding: 0 var(--space-s);
  }

  /* Ошибка */
  &-Error {
    color: var(--color-danger);
  }

  /* Обёртка плеера */
  &-WrapperPlayer {
    margin: var(--space-s) 0;
  }

  /* Подвал */
  &-Footer {
    display: flex;

    margin-top: var(--space-s);
    padding: var(--space-s);

    justify-content: flex-end;
  }
}
