.WallPost {
  color: var(--color-text-primary);

  /* Автор поста */
  &-Author {
    display: flex;
    align-items: center;
  }

  /* Аватарка автора */
  &-AuthorImage {
    margin-right: var(--space-s);
  }

  /* Имя пользователя */
  &-AuthorName {
    font-size: var(--size-typo-m);
    font-weight: 600;

    color: var(--color-text-link);
  }

  /* Дополнительное информации в блоке автора */
  &-AuthorInfo {
    font-size: var(--size-typo-s);
    line-height: var(--line-height-typo-s);

    color: var(--color-text-secondary);
  }

  /* Текст поста */
  &-Text {
    font-size: var(--size-typo-m);
    line-height: var(--line-height-typo-s);

    margin: var(--space-s);
    margin-bottom: 0;
  }

  /* Разделитель */
  &-Sep {
    margin: var(--space-s);
    margin-bottom: 0;

    border: 0;
    border-top: 1px solid var(--color-border);
  }

  /* Кнопки реакций */
  &-Buttons {
    display: flex;

    color: var(--color-text-secondary);
    align-items: center;
    justify-content: flex-start;
  }

  /* Отдельная кнопка реакции */
  &-Button {
    font-size: var(--size-typo-m);

    display: flex;

    padding: var(--space-xs) var(--space-s);
    align-items: center;
  }

  /* Иконка в кнопке реакции */
  &-ButtonIcon {
    height: 24px;
    margin-right: var(--space-xxs);
  }
}
