.WallPost {
  color: var(--color-text-primary);

  /* Автор поста */
  &-Author {
    display: flex;
    align-items: center;
  }

  /* Аватарка автора */
  &-AuthorAvatar {
    margin-right: var(--space-s);
  }

  /* Имя пользователя */
  &-AuthorName {
    font-size: var(--size-typo-m);
    font-weight: 600;

    color: var(--color-text-link);
  }

  /* Дополнительное информации в блоке автора */
  &-AuthorInfo {
    font-size: var(--size-typo-s);
    line-height: var(--line-height-typo-s);

    display: block;

    color: var(--color-text-secondary);
  }

  /* Заголовок */
  &-Title {
    font-size: var(--size-typo-m);
    font-weight: 600;
    line-height: var(--line-height-typo-m);

    margin: var(--space-s) var(--space-s) 0;
    padding: 0;
  }

  /* Текст поста */
  &-Text {
    font-size: var(--size-typo-m);
    line-height: var(--line-height-typo-s);

    margin: var(--space-s);
    margin-bottom: 0;

    color: var(--color-text-primary);
  }

  /* Вложения */
  &-Attaches {
    display: flex;

    margin-top: var(--space-s);
    justify-content: center;
  }

  /* Отдельное вложение */
  &-Attach {
    width: 100%;
    max-height: 400px;

    object-fit: cover;
  }

  /* Разделитель */
  &-Sep {
    margin: var(--space-s);
    margin-bottom: 0;

    border: 0;
    border-top: 1px solid var(--color-border);
  }

  /* Кнопки реакций */
  &-Buttons {
    display: flex;

    align-items: center;
    justify-content: flex-start;
  }

  /* Отдельная кнопка реакции */
  &-Button {
    font-size: var(--size-typo-m);

    display: flex;

    padding: var(--space-xs) var(--space-s);

    color: var(--color-text-secondary);
    align-items: center;

    &_active {
      color: var(--color-accent);
    }
  }

  /* Иконка в кнопке реакции */
  &-ButtonIcon {
    height: 24px;
    margin-right: var(--space-xxs);
  }
}
