.PageFeed {
  /* Новый пост */
  &-NewPost {
    margin-bottom: var(--space-s);
  }

  /* Стена */
  &-Wall {
    .WallItem {
      margin-bottom: var(--space-s);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  /* Плейсхолдер когда нет постов */
  &-Placeholder {
    display: flex;

    height: calc(100vh - var(--height-header) - var(--height-tabs) - var(--space-s) * 2);

    text-align: center;

    align-items: center;
    justify-content: center;

    /* Плейсхолдер для админа */
    &_admin {
      height: calc(100vh - var(--height-header) - var(--height-tabs) - var(--space-s) * 2 - 56px);
    }
  }
}
