.PagePost {
  /* Пост */
  &-Post {
    margin-bottom: var(--space-s);
  }

  /* Добавить комментарий */
  &-AddComment {
    margin-bottom: var(--space-s);
  }

  /* Комментарии */
  &-Comments {
    .Comment {
      border-bottom: 1px dashed var(--color-border);

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
