.PageCreatePost {
  /* Поле ввода текста */
  &-Text {
    min-height: 10em;

    border-right: 0;
    border-left: 0;
    border-radius: 0;
  }

  /* Вложения */
  &-Attaches {
    display: grid;

    height: calc(300px - var(--space-s));

    padding: var(--space-s);
    padding-bottom: 0;

    grid-template-columns: 1fr;
    grid-gap: var(--space-s);
  }

  /* Подвал */
  &-Footer {
    display: flex;

    margin-top: var(--space-s);
    padding: 0 var(--space-s);
    align-items: center;
    justify-content: space-between;
  }

  /* Прикрепление файла */
  &-Attach {
    position: relative;

    height: 24px;
  }

  /* Иконка прикрипления файла */
  &-AttachIcon {
    color: var(--color-text-secondary);
  }

  /* Поле ввода для прикрипления файла */
  &-AttachInput {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: 0;
  }
}
