.Input {
  font-size: var(--size-typo-m);
  line-height: var(--line-height-typo-s);

  box-sizing: border-box;
  padding: var(--space-xs) var(--space-s);

  border: 1px solid var(--color-border);
  border-radius: 3px;
  outline: none;

  &:focus {
    border-color: var(--color-main);
  }

  /* Максимальная ширина */
  &_wide {
    width: 100%;
  }

  /* Поле заполнено неверно */
  &_error {
    border-color: var(--color-danger);

    &:focus {
      border-color: var(--color-danger);
    }
  }
}
