.Comment {
  display: flex;

  padding: var(--space-xs) var(--space-s);

  /* Контент */
  &-Content {
    margin-left: var(--space-s);
  }

  /* Имя */
  &-Name {
    font-weight: 600;
  }

  /* Текст */
  &-Text {
    /* Свернутый */
    &_truncate {
      overflow: hidden;

      max-height: 63px;
    }
  }

  /* Показать длинный текст */
  &-Show {
    color: var(--color-text-link);
  }

  /* Дата */
  &-Date {
    font-size: var(--size-typo-s);
    line-height: var(--line-height-typo-s);

    color: var(--color-text-secondary);
  }
}
