.AttachPoll {
  position: relative;

  border-top: 1px solid var(--color-border);

  background: var(--color-white);

  /* Контент */
  &-Content {
  }

  /* Опции */
  &-Options {
  }

  /* Отдельная опция */
  &-Option {
    position: relative;

    padding: var(--space-xs) var(--space-s);

    border-bottom: 1px solid var(--color-border);

    align-items: center;

    &:last-child {
      border-bottom: 0;
    }

    &::after {
      position: absolute;
      z-index: 2;
      bottom: -1px;
      left: 0;

      display: block;

      width: calc(20px + var(--space-s) * 2);
      height: 1px;

      content: '';

      background: var(--color-white);
    }
  }

  /* Кнопка для удаления */
  &-Remove {
    position: absolute;
    top: var(--space-s);
    right: var(--space-s);

    overflow: hidden;

    width: 24px;
    height: 24px;

    border-radius: 50%;
    background: var(--color-black);
    box-shadow: var(--shadow-main);
  }

  /* Иконка кнопки для удаления */
  &-RemoveIcon {
    color: var(--color-white);
  }
}
